.item__detail {
  width: 50%;
  box-shadow: 1px 1px 5px #afafaf47;
  border: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  margin-right: 10px;
  align-items: center;
  margin: auto;
  margin-top: 3%;
}

.item-detail img {
  width: 100%;
}

.item-detail div {
  padding: 3%;
}

.item-detail div p {
  font-size: large;
}

.btn__detail {
  background-color: blue !important;
  color: white !important;
}